.cats-roll__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 3rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.cats-roll__card, .cats-roll__grid > div {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.cats-roll__info-loader {
    width: 100%;
    text-align: center;
}