:root {
  max-width: 100%;
  overflow-x: hidden;

  --primary-bg: #2196f3;
  --primary-bg-hover: #1E88E5;

  --font: #000000;
  --alt-font: #FFFFFF;

  --fav-color: #F24E1E;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}
