:root {
  --primary-bg: #2196f3;
  --primary-bg-active: #1E88E5;
  --primary-bg-hover: #44a2ef;

  --font: #000000;
  --alt-font: #FFFFFF;

  --fav-color: #F24E1E;

  color-scheme: light;

  font-family: "Roboto", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  min-width: 360px;
  width: 100%;
  /*overflow-x: hidden;*/
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}
