.all-cats__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 3rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.all-cats__card, .all-cats__grid > div {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.all-cats__info-loader {
    width: 100%;
    text-align: center;
}
